[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "pytorch-cu113"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = false
name = "pytorch-cu116"

[packages]
torch = {version = "*", index = "pytorch-cu116"}
torchvision = {version = "*", index = "pytorch-cu116"}
pytorch-lightning = "*"
path = "*"
h5py = "*"
seaborn = "*"
matplotlib = "*"
hydra-core = "*"

[dev-packages]
tensorguard = "*"

[requires]
python_version = "3.9"

[pipenv]
install_search_all_sources = true
